@media (max-width: 769px) {
  .contact__text {
    font-size: 24px;
    text-transform: uppercase;
    display: block;
  }

  .contact__number-link {
    font-size: 26px;
  }

  .contact__number-label {
    font-size: 20px;
  }

  .flex_block {
    display: flex;
    flex-direction: column;
  }

  .logo {
    width: 80vw !important;
    height: 80vw !important;
    margin: 40px auto 0;
  }

  .photo {
    width: 80vw !important;
    height: 70vw !important;
    margin: 40px auto 0;
  }
}
