.contact__number-link {
  font-size: 38px;
  color: var(--font-color);
  margin: 30px 0;
  transition: .5s ease-in-out;
}

.contact__number-link:hover {
  color: var(--additional-color);
}

.contact__number-label {
  font-size: 28px;
  color: var(--font-color);
  margin: 30px 0;
}

.contact__text {
  font-size: 16px;
  text-transform: uppercase;
  display: block;
}
