.header {
  max-height: 10vh;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-background-color);
  position: sticky;
  left: 0;
  top: 0;
  z-index: 10;
}

.header__link {
  font-size: 18px;
  margin-right: 20px;
  color: var(--primary-color);
  transition: .5s ease-in-out;
}

.header__link:hover {
  color: var(--additional-color);
}
.primary-color {
  color: var(--primary-color);
}

.active {
  color: var(--additional-color);
}
