:root {
  --primary-color: #235ad1;
  --additional-color: #0a3caa;
  --background-color: #FFD7CB;
  --primary-background-color: #fcfbfb;
  --font-color: #1c1919;
  --primary-font-size: 14px;
  --border-color: #e5e5e5;
}
