:root {
  --primary-color: #9A86CA;
  --additional-color: #0a3caa;
  --background-color: #FFD7CB;
  --primary-background-color: #eedaf5;
  --font-color: #f6bdfa;
  --primary-font-size: 14px;
  --border-color: #e5e5e5;
}
